/* fade on slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function:linear;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
            opacity: 0;
        }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
            opacity: 1;
        }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
    z-index:10;
}
.carousel {
  z-index:1;
}

img {
  width: 100%;
}

@media (max-width: 500px) {
  .caption {
    visibility: hidden;
  }
  .thumbnail img{
    display: none;
  }
}

@media (min-width:400px) {
  .carousel-inner {
    height:50vh;
  }
  #description {
    margin: 0px 60px 20px;
  }
  .caption-text {
    font-size: 14px;
    line-height:25px;
  }
  .caption {
    top:0%;
  }
}

@media (min-width:450px) {
  .carousel-inner {
    height:40vh;
  }
  .caption {
    top:20%;
  }
}
@media (min-width:600px) {
  .carousel-inner {
    height:50vh;
  }
  img {
    position: relative;
    top: 50%;
    transform: translateY(-5%);  
  }
  .caption-text {
    font-size: 16px;
    line-height:40px;
  }
}
@media (min-width:768px) {
  .carousel-inner {
    height:65vh;
  }
  img {
    position: relative;
    top: 50%;
    transform: translateY(-10%);  
  }
  .pillar {
    margin-bottom: 20px;
  }
  #pillars {
    margin-top:50px;
  }
  .caption-text {
    font-size: 18px;
    line-height:50px;
  }
}

@media (max-width:768px) and (min-width:400px){
  .pillar {
    margin-bottom: 20px;
    margin-left: 25%;
  }
  #pillars {
    margin-top:50px;
  }
}

@media (min-width:0px){
  .pillar {
    margin-bottom: 20px;
    margin-left: -10%;
  }
  #pillars {
    margin-top:50px;
  }
}

@media (min-width:992px) {
  .carousel-inner {
    height:75vh;
  }
  img {
    position: relative;
    top: 50%;
    transform: translateY(-10%);  
  }
  #description {
    margin: 100px 20px;
  }
  .pillar {
    margin-bottom: 80px;
  }
  .caption-text {
    font-size: 22px;
    line-height:50px;
  }
  
}

@media (max-width:1020px){
  .pillar {
    margin-bottom: 50px;
    width: 200px; 
  }

  #pillars {
    margin-top:20px;
    background-color: #FFCC33;
    padding-top: 40px;
  }
 }

 @media (min-width:1020px){
  .pillar {
    margin-bottom: 50px;
  }

  #pillars {
    margin-top:20px;
    background-color: #FFCC33;
    padding-top: 40px;
  }
 }

@media (min-width:1200px) {
  .carousel-inner {
    height:85vh;
  }
}
@media (min-width:1550px) {
  .carousel-inner {
    height:100vh;
  }
}

.pillar {
  margin-top:10px;
  color:#000000;
  font-weight: 300;
}

#pillars {
color: #FFCC33;
}

.pillar-content {
  padding-right: 40px;
  padding-left: 40px;
}

.thumbnail {
    position: relative;
    border:none;
    box-shadow: 0 0px 0px;
    background-color: #FFCC33;
}

.caption {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
    word-break:break-all;
}

.caption-text {
  color:#ffffff; 
  font-family: 'Roboto', 
  sans-serif; 
  letter-spacing: .15em; 
}

.carousel-control {
  text-shadow: 0 0px 0px;
  width:5%;
}

#ReqTable {
  position: relative;
  width: 100%;
}

#ReqItem{
  padding: 20px;
  text-align: center;
  font-weight: 100;
}

#ReqHead{
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

#PictureRow {
  margin-top: 100px; 
}

#video{
  background-color: #FFCC33;
  padding: 20px 0px;
}